<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JoePitt.PassGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JoePitt.PassGen.Properties.Crypto" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JoePitt.PassGen.Properties.CVC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JoePitt.PassGen.Properties.Words" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <JoePitt.PassGen.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </JoePitt.PassGen.Properties.Settings>
    <JoePitt.PassGen.Properties.Crypto>
      <setting name="Lower" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Upper" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Number" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Special" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Space" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeAll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Length" serializeAs="String">
        <value>8</value>
      </setting>
    </JoePitt.PassGen.Properties.Crypto>
    <JoePitt.PassGen.Properties.CVC>
      <setting name="Count" serializeAs="String">
        <value>3</value>
      </setting>
    </JoePitt.PassGen.Properties.CVC>
    <JoePitt.PassGen.Properties.Words>
      <setting name="DictionaryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SuppressMissingDictionaryWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pattern" serializeAs="String">
        <value>Adverb:Adjective:Noun</value>
      </setting>
      <setting name="AdjectiveFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdverbFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NounFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerbFile" serializeAs="String">
        <value>False</value>
      </setting>
    </JoePitt.PassGen.Properties.Words>
  </userSettings>
</configuration>
